extends base

block header
    title= book_name

block content
    div(class="row high-100vh overflown-y")
        div(class="col-3 v-heavy")
            button(type="button" class=button + "btn-secondary" id="back" onclick="on_back()") Назад
            div(class="row justify-content-center")
                img(class="rounded align-self-center book-img" src= book_cover)
            if book_part
                h5 &#128308; На торгах
                p
                    small Шаг: #{book_part.min_step} - #{book_part.max_step}
                p
                    small Начальная цена: #{book_part.start_cost}
            else
                h5 &#128994; Не продаётся
            if is_admin
                if book_part
                    button(type="button" class=button + "btn-warning" id="return" onclick="on_return()") Снять
                else
                    button(type="button" class=button + "btn-success" id="take" data-toggle="modal" data-target="#take_modal") Выставить
                    include ./take_modal.pug
                    button(type="button" class=button + "btn-warning" id="edit" data-toggle="modal" data-target="#book_modal") Редактировать
                    include ./book_modal.pug
                    button(type="button" class=button + "btn-danger" id="delete" onclick="on_delete()") Удалить
        div(class="col-9 v-lite")
            div(class="row high-20vh")
                div(class="col-12")
                    h1= book_name
                    h3= book_author
            div(class="row high-70vh")
                div(class="col-12")
                    h6= book_description
            div(class="row high-10vh")
                div(class="col-12")
                    h6 Дата публикации #{(new Date(book_publication)).toLocaleDateString("ru")}
