extends base

block header
    title Библиотека

block scripts
    script(src="pagescripts/lib.js")
    script(src="scripts/accounter.js")
    script(src="scripts/book_manager.js")
    if is_admin
        script(src="scripts/recovery.js")

block content
    div(class="row high-20vh")
        div(class="col-2 v-lite")
            if is_admin
                button(type="button" class=button + "btn-warning" id="push" onclick="on_push()") Архивировать
                button(type="button" class=button + "btn-danger" id="pull" onclick="on_pull()") Восстановить
                button(type="button" class=button + "btn-success" id="add" data-toggle="modal" data-target="#book_modal") Добавить
                include ./book_modal.pug
        div(class="col-8 my-auto")
            h1(class="text-center" id="lib_logo") Библиотека
        div(class="col-2 v-lite")
            h5(class="text-center")= user_name
            button(type="button" class=button + "btn-primary" id="reader" data-toggle="modal" data-target="#reader_modal") Читатель
            button(type="button" class=button + "btn-secondary" id="logout" onclick="on_logout()") Выйти
            include ./user_modal.pug
    div(class="row high-75vh overflown-y")
        div(class="col" id="librarian")
            if all_books.length > 0
                div(class="row")
                    for book in all_books
                        div(class="col-2 v-lite")
                            div(class="row justify-content-center")
                                img(class="book-tmb img-thumbnail align-self-center rounded" src= book.cover)
                            if book.taken
                                button(type="button" class=button + "btn-danger" onclick="on_open(" + book.code + ")")= book.name
                            else
                                button(type="button" class=button + "btn-success" onclick="on_open(" + book.code + ")")=book.name
            else
                div(class="row justify-content-center high-75vh")
                    h1(class="text-center align-self-center") Библиотека пока пуста!
    div(class="row high-5vh h-lite")
        form
            div(class="form-check form-check-inline")
                input(class="form-check-input" type="radio" name="optradio" id="none" checked)
                label(class="form-check-label" for="none") Все
            div(class="form-check form-check-inline")
                input(class="form-check-input" type="radio" name="optradio" id="available")
                label(class="form-check-label" for="available") В наличии
            div(class="form-check form-check-inline")
                input(class="form-check-input" type="radio" name="optradio" id="return-date")
                label(class="form-check-label" for="return-date") Скоро будут